.html linguist-vendored
.sv linguist-vendored
.kpt linguist-vendored
.json linguist-vendored
.sci linguist-vendored
.tdf linguist-vendored
.stp linguist-vendored
.qmsg linguist-vendored
.cmp linguist-vendored
.csv linguist-vendored
.spd linguist-vendored
.rpt linguist-vendored
.sip linguist-vendored
.lib linguist-vendored
.var linguist-vendored
.sh linguist-vendored
